.bigCover{
    background-size: cover;
    background-repeat: no-repeat !important;
    background-position: center, center;
}
.body{
    color: #cccccc
}
.blockquote-reverse, blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eee;
    border-left: 0;
    align-self: flex-end
}
